.image {
	position: relative;
	height: 36.312em;
	width: 28.5em;
	margin-bottom: 1.25em;
}

.image img {
	border-radius: 16.25em;
	object-fit: cover;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.image img:hover {
	cursor: pointer;
}

.text > h2 {
	text-align: center;
	font-weight: normal;
	font-size: 2.5em;
}

.text > p {
	font-size: 1.25em;
	text-align: center;
}
