.image {
	position: relative;
	height: 581px;
	width: 456px;
	margin-bottom: 20px;
}

.image img {
	border-radius: 260px;
	object-fit: cover;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.image img:hover {
	cursor: pointer;
}

.text > h2 {
	text-align: center;
	font-weight: normal;
	font-size: 40px;
}

.text > p {
	font-size: 20px;
	text-align: center;
}
