.list {
	display: flex;
	height: 100%;
	padding: var(--content-margin-vertical) var(--content-margin-horizontal);
}

.list > li {
	padding: 0px 1.25em;
}

.list > li:first-child {
	padding-left: 0px;
}

.list > li:last-child {
	padding-right: 0px;
}

.listContainer {
	position: absolute;
	min-width: 100vw;
	height: 100%;
}
