.modeSwitchContainer {
	position: absolute;
	bottom: 3.625em;
	right: var(--content-margin-horizontal);
	z-index: 999;
}

.button {
	background-color: #4b4b4b;
	box-shadow: 0px 0px 1px #000000;
	border: none;
	border-radius: 20px;
	padding: 0.312em;

	display: flex;
	align-items: center;
	justify-content: middle;
	cursor: pointer;
}
.button > div {
	padding: 0.312em 0.435em;
	flex: 1;
}
.button > div:first-child {
	border-right: 1px solid var(--secondary-text-color);
	padding-right: 0.625em;
}
.button > div:last-child {
	border-left: 1px solid var(--secondary-text-color);
	padding-left: 0.625em;
}
