.description {
	padding: var(--content-margin-vertical) 0px;
	position: absolute;
	width: 100%;
	height: 100%;
}

.description > h2 {
	font-family: "Playfair Display", serif;
	font-size: 100px;
	font-weight: normal;
	color: var(--text-color);
	margin-bottom: 25px;
}

.description > p {
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	color: var(--secondary-text-color);
}
