html,
body {
	font-family: "Roboto", sans-serif;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	font-size: var(--body-font-size);
}

body > div {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style-type: none;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h2 {
	font-family: "Playfair Display", serif;
	color: var(--text-color);
}

p {
	color: var(--secondary-text-color);
}

.visuallyHidden {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
	clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
	white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.content {
	position: absolute;
	height: 100%;

	width: var(--main-content-width);
	padding: var(--content-margin-vertical) 0px;
	padding-left: var(--content-margin-horizontal);
	margin-top: var(--main-content-margin-top);
}

.content > h2 {
	font-family: "Playfair Display", serif;
	font-size: 6.25em;
	line-height: 6.875rem;
	font-weight: normal;
	margin-bottom: 2rem;
}

.content > p {
	font-size: 1.25em;
	font-weight: bold;
	line-height: 2rem;
}

.content.home {
	width: calc(var(--main-content-width) - 2.52em);
}

.content.detail > h2 {
	margin-bottom: 0.937rem;
}

.content.detail > p.handle {
	font-family: "Playfair Display", serif;
	font-weight: normal;
	margin-bottom: 4.5rem;
}

.content.detail > p.description {
	margin-bottom: 4.5rem;
}

.content.detail > .back {
	display: flex;
	align-items: center;
	font-size: 1.25em;

	text-transform: uppercase;
	font-weight: bold;
	color: var(--text-color);
	font-family: "Roboto", serif;
}

.content.detail > .back svg {
	width: 1.45em;
	height: 1.186em;
}

.content.detail > .back span {
	padding-left: 1rem;
}
