html,
body {
	font-family: "Roboto", sans-serif;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

body > div {
	width: 100%;
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style-type: none;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.visuallyHidden {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
	clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
	white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.content {
	padding: var(--content-margin-vertical) 0px;
	position: absolute;
	width: 100%;
	height: 100%;
}

.content > h2 {
	font-family: "Playfair Display", serif;
	font-size: 100px;
	font-weight: normal;
	color: var(--text-color);
	margin-bottom: 25px;
}

.content > p {
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	color: var(--secondary-text-color);
}
